<div class="body">
  <div class="header">
    <div><h1 class="escritaLogo">A BEAUTY</h1></div>
    <div class="logo"></div>
  </div>

  <p>Clique abaixo para buscar a lista de produtos</p>
  <!-- <button (click)="searchProducts()">Lista de produtos</button> -->

  <div class="cards">
    <!-- <select class="form-control">
    <option *ngFor="let produto of produtos">{{produto.name}}</option>
  </select> -->

    <ol>
      <li *ngFor="let produto of produtos">
        {{ produto.name }}
        {{ produto.image_link }}
        <div class="card col-sm-4" style="width: 18rem;">
          <img class="card-img-top" src="{produto.image_link}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{ produto.name }}</h5>
            <p class="card-text">{{ produto.description}}</p>
            <a href="#" class="btn btn-primary">Comprar</a>
          </div>
        </div>
      </li>
    </ol>
  </div>

</div>
