
* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  /* max-width: 80%; */
  /* margin-left: 100px;
  margin-right: 100px; */
  margin: 0 100px 0 20px;
}

.header {
  margin-top: 20px;
  margin-left: 20px;
  position: relative;

}
.logo{
  width: 220px;
  height: 220px;
  border-radius: 110px;
  animation-name: logo;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  background-color: yellow;

}

@keyframes logo {
  0% { background-color: rgb(179, 179, 243);}
  20% {background-color: rgb(239, 123, 142);}
  50% {background-color: rgb(241, 180, 241)}
  70% {background-color: rgb(233, 134, 233)}
  100% {background-color: rgb(230, 28, 62)}
}

.escritaLogo{
  margin-top: 80px;
  margin-left: 20px;
  position: absolute;
  font-family: 'Courier New', Courier, monospace;
}

.cards {
  display: grid;
}

ol {
  list-style-type: none;
}

.col-sm-12{
  margin: 0;
  padding: 0;
}
